<html>
    <head>
        <title>Login/Signup</title>
    </head>
    <body>
        <form>
            <input type="email" name='email' placeholder="Email Address" />
            <br />
            <input type="password" name='pass' placeholder="Password" />
            <br />
            <input type="password" name='cpass' placeholder="Confirm Password" />
            <br /><br />
            <button type='submit'>Register</button>
        </form>
    </body>
</html>