<html>
    <head>
        
    </head>
    <body>
        <form method="POST">
            <input type='text' name='title' placeholder="Title"/>
            <br />
            <br />
            <textarea name='body'>Blog Body</textarea>
            <br />
            <br />
            <input type='date' name='date' />
            <br />
            <br />
            ML <input type='radio' value='ml' name='cat' />
            <br />
            WebDev <input type='radio' value='wdev' name='gender' />
            &nbsp; &nbsp;
            <button type='submit'>Submit</button>
        </form>
    </body>
</html>