<html>
    <head>
        <Title>One</Title>
    </head>
    <body>
        <%- include("header.ejs") %>
        <h1><%=request %></h1>
        <form method="POST">
            <input name='pass' type='password' placeholder="Enter Access Key" />
            <button type='submit' name='subm'>Enter</button>
        </form>
    </body>
</html>