<div style="width:150px; height: 150px; background:<%=color %>" name='color' value='<%=color %>'></div>
<form style="display: flex" method="POST">
    <button type='submit' name='r' value='r' style="width: 40px; height: 50px; background: red">Red</button>
    <button type='submit' name='y' value='y' style="width: 40px; height: 50px; background: yellow">Yellow</button>
    <button type='submit' name='b' value='b' style="width: 40px; height: 50px; background: blue">Blue</button>
</form>