<%=counter %>

<form method="POST">
    <input type='hidden' name="previous" value="<%=counter %>" />
    <button name='i' value = 'i' type="submit">Increase</button>
    <button name='d' value='i' type="submit">Decrease</button>
</form>
