<%=name %>

<form method = "get">
    <input name="name" placeholder="Name"/>
    <br />
    <input name="mail" placeholder="Email Address"/>
    <br />
    <input type="password" name='pass' />
    <br />
    Male <input type="radio" name="sex" />
    <br />
    Female <input type="radio" name="sex" />
    <br /><br />
    <input type="submit" />
</form>